[user]
	name = Sarunas Nejus
	email = sarunas@brainlabsdigital.com
[color]
	filemode = false
	diff = auto
	status = auto
	branch = auto
	pager = true
[core]
	excludesfile = /Users/sarunasnejus/.gitignore_global
	pager = less -FRSX
[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
    gst = "git status"
    gd = "git diff"

[credential]
	helper = osxkeychain
[url "git@github.com:/"]
	insteadOf = https://github.com/
[github]
	user = saras.nejuz@gmail.com
[ghi]
	token = !security find-internet-password -a saras.nejuz@gmail.com -s github.com -l 'ghi token' -w
