[alias]
    l  = log --graph --abbrev-commit --decorate --format=format:'%C(bold italic black)(%ar)%C(reset) %C(italic white)%an%C(reset) %C(bold yellow)%h%C(reset) %C(bold blue)%s%C(reset)%C(bold red)%d%C(reset)' --all -n 12
    l1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold italic black)(%ar)%C(reset) %C(italic white)%an%C(reset) %C(bold yellow)%h%C(reset) %C(bold blue)%s%C(reset)%C(bold red)%d%C(reset)' --all
    l2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) %C(bold green)%aD%C(reset) %C(bold magenta)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''%C(bold dim white)%s%C(reset) %C(italic white)- %an%C(reset)%n' --all

    wtf = !git-wtf

[branch]
    autoSetupRebase = always

[checkout]
    defaultRemote = origin

[color]
    branch      = always
    diff        = auto
    interactive = always
    status      = true
    pager       = true
    push        = always
    transport   = always
    ui          = true

[core]
    editor       = vim
    excludesfile = /home/sarunas/.gitignore
    filemodei    = false
    pager        = diff-so-fancy | less --tabs=4 -RFX

[fetch]
    writeCommitGraph = true

[url "git@github.com:/"]
    insteadOf = https://github.com/

[rebase]
    abbreviateCommands = true
