[alias]
    l  = log --graph --decorate --all --pretty=cool -12
    t  = log --graph --decorate --all --pretty=all -1
    l1 = log --graph --decorate --all --pretty=cool
    l2 = log --graph --decorate --all --pretty=nice
    wtf = !git-wtf
    cs = ci-status

[branch]
    autoSetupRebase = always

[checkout]
    defaultRemote = origin

[color]
    branch       = always
    diff         = auto
    interactive  = always
    status       = true
    pager        = true
    push         = always
    transport    = always
    ui           = true

[commit]
    gpgSign      = true

[core]
    editor       = vim
    filemode     = false
    pager        = diff-so-fancy | less --tabs=4 -RFX

[fetch]
    writeCommitGraph = true

[log]
    date = format:%F %H:%M

[pretty]
    nice = \
%C(dim white)%ad \
%C(bold "#FF9933")%an \
%C(bold "#E5989B")%h \
%C(bold "#80CCE6")%><(50,trunc)%s \
%C(bold "#EDB879")%d%C(reset)
    cool = \
%C(bold "#80CCE6")%><(12,trunc)%ar \
%C(bold "#EDB879")%h \
%C(bold "#000000")%><(14,mtrunc)%an \
%C(bold "#EDB879")%><|(80,mtrunc)%s \
%C(bold "#80CCE6")%><(44,mtrunc)%d%C(reset)

[rebase]
    abbreviateCommands = true

[tig]
    line-graphics = yes

[tag]
    gpgSign = true

[url "git@github.com:"]
    insteadOf = https://github.com/
